<div class="card bg-light mb-3">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/courses">Go Back</button>
        
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name"
                [(ngModel)]="e.name">
                <div class="alert alert-danger" *ngIf="error?.name">
                    {{error.name}}
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" 
                (click)="e.id? edit(): create()">
                    {{e.id? 'Edit':'Create'}}
                </button>
            </div>
        </form>
    </div>
</div>


